@import "../node_modules/bootstrap/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
 @font-face {
    font-family: 'r0c0i Linotte';
    src: url('../font/r0c0iLinotte-Heavy.eot');
    src: url('../font/r0c0iLinotte-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../font/r0c0iLinotte-Heavy.woff2') format('woff2'),
        url('../font/r0c0iLinotte-Heavy.woff') format('woff'),
        url('../font/r0c0iLinotte-Heavy.ttf') format('truetype'),
        url('../font/r0c0iLinotte-Heavy.svg#r0c0iLinotte-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: 'r0c0i Linotte';
    src: url('../font/r0c0iLinotte-Bold.eot');
    src: url('../font/r0c0iLinotte-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/r0c0iLinotte-Bold.woff2') format('woff2'),
        url('../font/r0c0iLinotte-Bold.woff') format('woff'),
        url('../font/r0c0iLinotte-Bold.ttf') format('truetype'),
        url('../font/r0c0iLinotte-Bold.svg#r0c0iLinotte-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} 

 @font-face {
    font-family: 'r0c0i Linotte';
    src: url('../font/r0c0iLinotte-Light.eot');
    src: url('../font/r0c0iLinotte-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/r0c0iLinotte-Light.woff2') format('woff2'),
        url('../font/r0c0iLinotte-Light.woff') format('woff'),
        url('../font/r0c0iLinotte-Light.ttf') format('truetype'),
        url('../font/r0c0iLinotte-Light.svg#r0c0iLinotte-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'r0c0i Linotte';
    src: url('../font/r0c0iLinotte-Regular.eot');
    src: url('../font/r0c0iLinotte-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/r0c0iLinotte-Regular.woff2') format('woff2'),
        url('../font/r0c0iLinotte-Regular.woff') format('woff'),
        url('../font/r0c0iLinotte-Regular.ttf') format('truetype'),
        url('../font/r0c0iLinotte-Regular.svg#r0c0iLinotte-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'r0c0i Linotte';
    src: url('../font/r0c0iLinotte-SemiBold.eot');
    src: url('../font/r0c0iLinotte-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/r0c0iLinotte-SemiBold.woff2') format('woff2'),
        url('../font/r0c0iLinotte-SemiBold.woff') format('woff'),
        url('../font/r0c0iLinotte-SemiBold.ttf') format('truetype'),
        url('../font/r0c0iLinotte-SemiBold.svg#r0c0iLinotte-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} 


*{
    font-family:'Linotte',sans-serif;
}
img {
    width: 100vw;
    height: 100vh;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    position: relative;
}
.header{
    z-index: 100;
    width: 100%;
    background-color: transparent;
}
.header{
    transition: all 0.5s ;
}
.navbar-scrolled{
    background-color: black;

}
.kientruc{
    display: none;
    
}
#icons i{
    font-size: 33px;
}
.searchClub{
    display: none;
}
#home{
    color: black;
}
#project{
    color: black;
}



@media only screen and (max-width: 1023px){
   .venora{
    display: none;
   }
   #home{
    color: #fff;
   }
   #project{
    color: #fff;
}

   .venora img{
    max-width: 45px;
    
   }
   .kientruc{
    display: block;
    margin: 0;
    }
    .loi{
        margin:0;
    }
    .bx {
        color: #ffffff8c;
        font-size: 22px;
    }
    .align{
        display: block;
    }
    #icons{
        margin-top: 20px;
    }
    .hide{
        display: block;
    }
    #searchIcon{
        display: flex;
        cursor: pointer;
    }
    
}
.vip i{
    display: none;
    padding: 4px 12px;
}
#closeIcon{
    display: none;
    font-size: 22px;
    cursor: pointer;
}
#searchInputContainer{
    display: none;
    
}
#search{
    border-radius: 20px;
}
#tryagain{
    color: #D93025;
    display: none;
    font-size: 12px;
}
#menu{
    font-size: 31px;
}


.img-container {
    overflow: hidden;
    position: relative;
}

.img-container img {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    object-fit: cover;
    transition: all 1s;
    position: relative;
    -webkit-transform: scale(1);
    transform: scale(1);
    vertical-align:middle;
}

/* Hiệu ứng khi hover vào hình ảnh */
.img-container:hover .overlay {
    transform: scale(1);
}

/* Lớp overlay */
.overlay{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    z-index: 1;
    cursor: pointer;
  }

/* Tiêu đề khi hover */
.overlay h3 {
    position: absolute ;
    left: 50%;
    margin: 0px auto;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: 2;
  color: #fff;
  font-size: 16px;
}

.img-container:hover .overlay {
    opacity: 1;
  }
  .img-container:hover .img-fluid{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
  }
.img-container{
    width: 100%;
    height: 300px;
}
.img-container img{
    width: 100%;
    height: 100%;
}
.venora {
    width: 100px;
    z-index: 200;
    align-items: center;
}
.venora img{
    width: 75px;
    height: auto;
    object-fit: cover;
}#btn{
    border: none;
}
/* dịch chuyển */

